.projects__name, .nav .nav__item a, .copyright a, .rs-school a, .contacts .contacts__link {
  color: #262626;
  text-decoration: none;
}
.projects__name:hover, .nav .nav__item a:hover, .copyright a:hover, .rs-school a:hover, .contacts .contacts__link:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  color: #262626;
  font-family: "Roboto", sans-serif, Arial;
  font-size: 18px;
  line-height: 120%;
  background-color: #FFF6F3;
}

section {
  margin-bottom: 100px;
}

h1 {
  margin: 0;
  font-size: 100px;
  font-weight: 400;
  line-height: 120%;
}

h2 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 400;
  line-height: 120%;
}

h3 {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 120%;
}

p {
  margin: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.container__2-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-footer {
  padding: 20px 0;
  background: linear-gradient(180deg, #FFD08A 0%, #F8B07C 100%);
}
.page-footer .container {
  display: flex;
  justify-content: space-between;
}

.contacts {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts .contacts__link {
  display: inline-block;
  padding: 6px 0;
}

.rs-school {
  position: relative;
  padding-left: 70px;
}
.rs-school a::after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: -1px;
  left: 40px;
  background-color: transparent;
  background-image: url("./assets/rs-school__icon.png");
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

.copyright {
  max-width: 210px;
  text-align: right;
}
.page-header {
  width: 100%;
  height: 80px;
  background: linear-gradient(180deg, #FFD08A 0%, #F8B07C 100%);
}
.page-header .page-header__nav {
  margin: 0 auto;
  width: 1200px;
}

.about {
  margin-top: 50px;
  margin-bottom: 140px;
}

.about__foto {
  position: relative;
  top: 0;
  right: 30px;
  max-width: 550px;
  max-height: 490px;
  object-fit: cover;
  border-radius: 100px;
}

.about__info {
  max-width: 540px;
}
.about__info .about__name {
  margin-top: 40px;
  margin-bottom: 14px;
}

.education {
  max-width: 615px;
}

.education__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.education__item {
  display: flex;
  padding-bottom: 42px;
}

.education__duration {
  max-width: 100px;
  padding-right: 15px;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
}

.education__info {
  max-width: 500px;
  margin-top: 30px;
}

.languages {
  width: 300px;
}

.languages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.languages__item {
  margin: 15px 0;
}

.nav .nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav .nav__item a {
  display: block;
  padding: 29px 30px;
}

.skill {
  position: relative;
  padding-left: 160px;
}
.skill::before {
  content: "";
  width: 140px;
  height: 28px;
  position: absolute;
  top: -4px;
  left: 10px;
  background-color: transparent;
  background-image: url("./assets/stars_5.png");
  background-size: 140px 28px;
  background-repeat: no-repeat;
}
.skill--4::before {
  background-image: url("./assets/stars_4.png");
}
.skill--3::before {
  background-image: url("./assets/stars_3.png");
}
.skill--2::before {
  background-image: url("./assets/stars_2.png");
}

.skills {
  width: 300px;
}

.skills__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.skills__item {
  margin: 15px 0;
}

.work {
  max-width: 650px;
}

.work__position {
  display: flex;
}

.work__duration {
  max-width: 100px;
  padding-right: 15px;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
}

.work__info {
  margin-top: 30px;
}

.code-examples__code {
  display: block;
  padding: 20px 35px;
  background-color: #f1f1f1;
  border-radius: 20px;
}

.projects__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.projects__name {
  display: block;
  box-sizing: border-box;
  width: 240px;
  max-height: 60px;
  padding: 15px 25px;
  margin-bottom: 20px;
  margin-right: 40px;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(180deg, #FFD08A 0%, #F8B07C 100%);
  border: none;
  border-radius: 10px;
}
.projects__name:hover {
  text-decoration: none;
  background: linear-gradient(180deg, #FFB74B 0%, #FF9446 100%);
}

.projects__description {
  margin-top: 5px;
  max-width: 600px;
}

/*# sourceMappingURL=style.css.map */
