$color-bg: #FFF6F3;
$color-text: #262626;
$color-code: #f1f1f1;

$gradient-main: linear-gradient(180deg, #FFD08A 0%, #F8B07C 100%);
$gradient-focus: linear-gradient(180deg, #FFB74B 0%, #FF9446 100%);

$content-width: 1200px;