.education {
  max-width: 615px;
}

.education__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.education__item {
  display: flex;

  padding-bottom: 42px;
}

.education__duration {
  max-width: 100px;

  padding-right: 15px;

  @include font-add($size: 24px);
}

.education__info {
  max-width: 500px;

  margin-top: 30px;
}